body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
}